# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [4]:
import pandas as pd
import numpy as np

# Seu código aqui
ano = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
anomalia_termica = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

anomalia_termica = pd.Series(anomalia_termica)
print(anomalia_termica)

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [7]:
# seu código aqui
anomalia_termica_com_indice = pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02], ano)
print(anomalia_termica_com_indice)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [9]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
dic_temperaturas_Series = pd.Series(dic_temperaturas)
print(dic_temperaturas_Series)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [16]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
df = pd.DataFrame(arr)
print(df)

             0           1           2
0    86.749192   97.892355  105.574383
1   123.289315  106.707489  101.763142
2   106.963377   90.732869   80.481599
3    94.768913   95.215024   98.089657
4   102.673164  103.132048   79.799550
5    79.534288  107.594261   95.528641
6   100.823046  103.188010   89.040893
7   110.791579  107.436206  106.989100
8    96.393206  104.160371   90.477124
9    81.632626   89.230355  106.579754
10  105.820651  121.719013  102.715819
11   92.949171   89.124083   99.918655
12   96.947267  115.497773   97.527026
13   84.372463  108.869484  104.732336
14  106.817820  102.478784   86.379684
15  105.406898   93.906053   98.684863
16   86.802935  105.075285   95.965054
17  107.543859  113.732322  109.496384
18   99.985001  102.092775  105.289765
19   92.853310   75.330098  103.415333

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [23]:
#seu código aqui
df = pd.DataFrame(arr,
                  index=range(1,21),
                  columns=('x1', 'x2', 'x3')
                 )

print(df)

            x1          x2          x3
1    86.749192   97.892355  105.574383
2   123.289315  106.707489  101.763142
3   106.963377   90.732869   80.481599
4    94.768913   95.215024   98.089657
5   102.673164  103.132048   79.799550
6    79.534288  107.594261   95.528641
7   100.823046  103.188010   89.040893
8   110.791579  107.436206  106.989100
9    96.393206  104.160371   90.477124
10   81.632626   89.230355  106.579754
11  105.820651  121.719013  102.715819
12   92.949171   89.124083   99.918655
13   96.947267  115.497773   97.527026
14   84.372463  108.869484  104.732336
15  106.817820  102.478784   86.379684
16  105.406898   93.906053   98.684863
17   86.802935  105.075285   95.965054
18  107.543859  113.732322  109.496384
19   99.985001  102.092775  105.289765
20   92.853310   75.330098  103.415333

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [25]:
# seu código aqui
df['media'] = (df['x1'] + df['x2'] + df['x3']) / 3
print(df)

            x1          x2          x3       media
1    86.749192   97.892355  105.574383   96.738643
2   123.289315  106.707489  101.763142  110.586649
3   106.963377   90.732869   80.481599   92.725948
4    94.768913   95.215024   98.089657   96.024531
5   102.673164  103.132048   79.799550   95.201587
6    79.534288  107.594261   95.528641   94.219063
7   100.823046  103.188010   89.040893   97.683983
8   110.791579  107.436206  106.989100  108.405629
9    96.393206  104.160371   90.477124   97.010234
10   81.632626   89.230355  106.579754   92.480912
11  105.820651  121.719013  102.715819  110.085161
12   92.949171   89.124083   99.918655   93.997303
13   96.947267  115.497773   97.527026  103.324022
14   84.372463  108.869484  104.732336   99.324761
15  106.817820  102.478784   86.379684   98.558763
16  105.406898   93.906053   98.684863   99.332605
17   86.802935  105.075285   95.965054   95.947758
18  107.543859  113.732322  109.496384  110.257521
19   99.985001  102.092775  105.289765  102.455847
20   92.853310   75.330098  103.415333   90.532914

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [26]:
# seu código aqui
df['log_med'] = np.log(df['media'])
print(df)

            x1          x2          x3       media   log_med
1    86.749192   97.892355  105.574383   96.738643  4.572013
2   123.289315  106.707489  101.763142  110.586649  4.705799
3   106.963377   90.732869   80.481599   92.725948  4.529648
4    94.768913   95.215024   98.089657   96.024531  4.564604
5   102.673164  103.132048   79.799550   95.201587  4.555997
6    79.534288  107.594261   95.528641   94.219063  4.545623
7   100.823046  103.188010   89.040893   97.683983  4.581738
8   110.791579  107.436206  106.989100  108.405629  4.685880
9    96.393206  104.160371   90.477124   97.010234  4.574816
10   81.632626   89.230355  106.579754   92.480912  4.527002
11  105.820651  121.719013  102.715819  110.085161  4.701254
12   92.949171   89.124083   99.918655   93.997303  4.543266
13   96.947267  115.497773   97.527026  103.324022  4.637870
14   84.372463  108.869484  104.732336   99.324761  4.598395
15  106.817820  102.478784   86.379684   98.558763  4.590653
16  105.406898   93.906053   98.684863   99.332605  4.598474
17   86.802935  105.075285   95.965054   95.947758  4.563804
18  107.543859  113.732322  109.496384  110.257521  4.702819
19   99.985001  102.092775  105.289765  102.455847  4.629432
20   92.853310   75.330098  103.415333   90.532914  4.505713