# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv('demo01.csv')
df.head()

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau
0,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,58.832877,3.106849,1,0,0,0,2.0,False
1,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
2,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
3,M,Y,Y,0,Working,Higher education,Married,House / apartment,46.224658,2.106849,1,1,1,1,2.0,False
4,F,Y,N,0,Working,Incomplete higher,Married,House / apartment,29.230137,3.021918,1,0,0,0,2.0,False

In [3]:
# avaliação das variáveis
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16650 entries, 0 to 16649
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sexo                   16650 non-null  object
 1   posse_de_veiculo       16650 non-null  object
 2   posse_de_imovel        16650 non-null  object
 3   qtd_filhos             16650 non-null  int64
 4   tipo_renda             16650 non-null  object
 5   educacao               16650 non-null  object
 6   estado_civil           16650 non-null  object
 7   tipo_residencia        16650 non-null  object
 8   idade                  16650 non-null  float64
 9   tempo_emprego          16650 non-null  float64
 10  possui_celular         16650 non-null  int64
 11  possui_fone_comercial  16650 non-null  int64
 12  possui_fone            16650 non-null  int64
 13  possui_email           16650 non-null  int64
 14  qt_pessoas_residencia  16650 non-null  float64
 15  mau                    16650 non-null  bool
dtypes: bool(1), float64(3), int64(5), object(7)
memory usage: 1.9+ MB

In [4]:
# tipo de dados de cada variável
df.dtypes

sexo                      object
posse_de_veiculo          object
posse_de_imovel           object
qtd_filhos                 int64
tipo_renda                object
educacao                  object
estado_civil              object
tipo_residencia           object
idade                    float64
tempo_emprego            float64
possui_celular             int64
possui_fone_comercial      int64
possui_fone                int64
possui_email               int64
qt_pessoas_residencia    float64
mau                         bool
dtype: object

In [5]:
# soma de dados ausentes
df.isna().sum()

sexo                     0
posse_de_veiculo         0
posse_de_imovel          0
qtd_filhos               0
tipo_renda               0
educacao                 0
estado_civil             0
tipo_residencia          0
idade                    0
tempo_emprego            0
possui_celular           0
possui_fone_comercial    0
possui_fone              0
possui_email             0
qt_pessoas_residencia    0
mau                      0
dtype: int64

In [6]:
# distribuição da variável resposta
df['mau'].unique()

array([False,  True])

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável.
    Dica:
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis,
        3. conte o número de categorias dessa variável
        4. acumule essa informação de 3. na lista que você criou em 1.
        5. No final, essa lista pode ser atribuída à nossa variável.

In [7]:
metadados = pd.DataFrame({
    'variavel': df.columns,
    'tipo_dado': df.dtypes.values
})

metadados

                 variavel tipo_dado
0                    sexo    object
1        posse_de_veiculo    object
2         posse_de_imovel    object
3              qtd_filhos     int64
4              tipo_renda    object
5                educacao    object
6            estado_civil    object
7         tipo_residencia    object
8                   idade   float64
9           tempo_emprego   float64
10         possui_celular     int64
11  possui_fone_comercial     int64
12            possui_fone     int64
13           possui_email     int64
14  qt_pessoas_residencia   float64
15                    mau      bool

In [8]:
qtd_categorias = [] 

for coluna in df.columns:
    qtd = df[coluna].nunique()
    qtd_categorias.append(qtd)
    
metadados['qtd_categorias'] = qtd_categorias

metadados

                 variavel tipo_dado  qtd_categorias
0                    sexo    object               2
1        posse_de_veiculo    object               2
2         posse_de_imovel    object               2
3              qtd_filhos     int64               8
4              tipo_renda    object               5
5                educacao    object               5
6            estado_civil    object               5
7         tipo_residencia    object               6
8                   idade   float64            5298
9           tempo_emprego   float64            3005
10         possui_celular     int64               1
11  possui_fone_comercial     int64               2
12            possui_fone     int64               2
13           possui_email     int64               2
14  qt_pessoas_residencia   float64               9
15                    mau      bool               2

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16650 entries, 0 to 16649
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sexo                   16650 non-null  object
 1   posse_de_veiculo       16650 non-null  object
 2   posse_de_imovel        16650 non-null  object
 3   qtd_filhos             16650 non-null  int64
 4   tipo_renda             16650 non-null  object
 5   educacao               16650 non-null  object
 6   estado_civil           16650 non-null  object
 7   tipo_residencia        16650 non-null  object
 8   idade                  16650 non-null  float64
 9   tempo_emprego          16650 non-null  float64
 10  possui_celular         16650 non-null  int64
 11  possui_fone_comercial  16650 non-null  int64
 12  possui_fone            16650 non-null  int64
 13  possui_email           16650 non-null  int64
 14  qt_pessoas_residencia  16650 non-null  float64
 15  mau                    16650 non-null  bool
dtypes: bool(1), float64(3), int64(5), object(7)
memory usage: 1.9+ MB

In [10]:
# dropando as variáveis contínuas
df = df.drop(['idade', 
              'tempo_emprego'], 
              axis=1
)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16650 entries, 0 to 16649
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sexo                   16650 non-null  object
 1   posse_de_veiculo       16650 non-null  object
 2   posse_de_imovel        16650 non-null  object
 3   qtd_filhos             16650 non-null  int64
 4   tipo_renda             16650 non-null  object
 5   educacao               16650 non-null  object
 6   estado_civil           16650 non-null  object
 7   tipo_residencia        16650 non-null  object
 8   possui_celular         16650 non-null  int64
 9   possui_fone_comercial  16650 non-null  int64
 10  possui_fone            16650 non-null  int64
 11  possui_email           16650 non-null  int64
 12  qt_pessoas_residencia  16650 non-null  float64
 13  mau                    16650 non-null  bool
dtypes: bool(1), float64(1), int64(5), object(7)
memory usage: 1.7+ MB

In [11]:
df['sexo'].unique()

array(['M', 'F'], dtype=object)

In [12]:
df['posse_de_veiculo'].unique()

array(['Y', 'N'], dtype=object)

In [13]:
df['posse_de_imovel'].unique()

array(['Y', 'N'], dtype=object)

In [14]:
df['tipo_renda'].unique()

array(['Working', 'Commercial associate', 'State servant', 'Pensioner',
       'Student'], dtype=object)

In [15]:
df['educacao'].unique()

array(['Secondary / secondary special', 'Higher education',
       'Incomplete higher', 'Lower secondary', 'Academic degree'],
      dtype=object)

In [16]:
df['estado_civil'].unique()

array(['Married', 'Single / not married', 'Civil marriage', 'Widow',
       'Separated'], dtype=object)

In [17]:
df['tipo_residencia'].unique()

array(['House / apartment', 'Rented apartment', 'Municipal apartment',
       'With parents', 'Co-op apartment', 'Office apartment'],
      dtype=object)

In [18]:
# criando variáveis dummy e dropando a primeira categoria de cada uma
df_dummies = pd.get_dummies(df, 
                            columns=['sexo', 'posse_de_veiculo', 'posse_de_imovel', 
                            'tipo_renda', 'educacao', 'estado_civil', 
                            'tipo_residencia'],
                            drop_first=True
)

In [19]:
df_dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16650 entries, 0 to 16649
Data columns (total 27 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   qtd_filhos                              16650 non-null  int64
 1   possui_celular                          16650 non-null  int64
 2   possui_fone_comercial                   16650 non-null  int64
 3   possui_fone                             16650 non-null  int64
 4   possui_email                            16650 non-null  int64
 5   qt_pessoas_residencia                   16650 non-null  float64
 6   mau                                     16650 non-null  bool
 7   sexo_M                                  16650 non-null  bool
 8   posse_de_veiculo_Y                      16650 non-null  bool
 9   posse_de_imovel_Y                       16650 non-null  bool
 10  tipo_renda_Pensioner                    16650 non-null  bool
 11  tipo_renda_State servant                16650 non-null  bool
 12  tipo_renda_Student                      16650 non-null  bool
 13  tipo_renda_Working                      16650 non-null  bool
 14  educacao_Higher education               16650 non-null  bool
 15  educacao_Incomplete higher              16650 non-null  bool
 16  educacao_Lower secondary                16650 non-null  bool
 17  educacao_Secondary / secondary special  16650 non-null  bool
 18  estado_civil_Married                    16650 non-null  bool
 19  estado_civil_Separated                  16650 non-null  bool
 20  estado_civil_Single / not married       16650 non-null  bool
 21  estado_civil_Widow                      16650 non-null  bool
 22  tipo_residencia_House / apartment       16650 non-null  bool
 23  tipo_residencia_Municipal apartment     16650 non-null  bool
 24  tipo_residencia_Office apartment        16650 non-null  bool
 25  tipo_residencia_Rented apartment        16650 non-null  bool
 26  tipo_residencia_With parents            16650 non-null  bool
dtypes: bool(21), float64(1), int64(5)
memory usage: 1.1 MB

In [20]:
# convertendo variáveis bool em int
df_dummies = df_dummies.astype({col: int for col in df_dummies.select_dtypes('bool').columns})
df_dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16650 entries, 0 to 16649
Data columns (total 27 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   qtd_filhos                              16650 non-null  int64
 1   possui_celular                          16650 non-null  int64
 2   possui_fone_comercial                   16650 non-null  int64
 3   possui_fone                             16650 non-null  int64
 4   possui_email                            16650 non-null  int64
 5   qt_pessoas_residencia                   16650 non-null  float64
 6   mau                                     16650 non-null  int64
 7   sexo_M                                  16650 non-null  int64
 8   posse_de_veiculo_Y                      16650 non-null  int64
 9   posse_de_imovel_Y                       16650 non-null  int64
 10  tipo_renda_Pensioner                    16650 non-null  int64
 11  tipo_renda_State servant                16650 non-null  int64
 12  tipo_renda_Student                      16650 non-null  int64
 13  tipo_renda_Working                      16650 non-null  int64
 14  educacao_Higher education               16650 non-null  int64
 15  educacao_Incomplete higher              16650 non-null  int64
 16  educacao_Lower secondary                16650 non-null  int64
 17  educacao_Secondary / secondary special  16650 non-null  int64
 18  estado_civil_Married                    16650 non-null  int64
 19  estado_civil_Separated                  16650 non-null  int64
 20  estado_civil_Single / not married       16650 non-null  int64
 21  estado_civil_Widow                      16650 non-null  int64
 22  tipo_residencia_House / apartment       16650 non-null  int64
 23  tipo_residencia_Municipal apartment     16650 non-null  int64
 24  tipo_residencia_Office apartment        16650 non-null  int64
 25  tipo_residencia_Rented apartment        16650 non-null  int64
 26  tipo_residencia_With parents            16650 non-null  int64
dtypes: float64(1), int64(26)
memory usage: 3.4 MB

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

In [21]:
tabela_email = pd.crosstab(df['possui_email'], df['mau'], normalize='index') * 100
print("Tabela cruzada - possui_email")
print(tabela_email)

Tabela cruzada - possui_email
mau               False     True
possui_email
0             97.626895  2.373105
1             97.972973  2.027027

In [22]:
tabela_veiculo = pd.crosstab(df['posse_de_veiculo'], df['mau'], normalize='index') * 100
print("\nTabela cruzada - posse_de_veiculo")
print(tabela_veiculo)

Tabela cruzada - posse_de_veiculo
mau                   False     True
posse_de_veiculo
N                 97.573197  2.426803
Y                 97.790482  2.209518

In [23]:
print('A variável `posse_de_veiculo` é mais poderosa para prever a probabilidade de `mau = 1`, pois apresenta uma maior variação entre os grupos')

A variável `posse_de_veiculo` é mais poderosa para prever a probabilidade de `mau = 1`, pois apresenta uma maior variação entre os grupos

#### 5) Salve a base, pois ela será utilizada no final deste módulo.

In [24]:
df.to_csv('df_dummies', index=False)